---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ServicesGrid from '../components/ServicesGrid.astro';
import ProductSpotlight from '../components/ProductSpotlight.astro';
import OpenSourceTerminal from '../components/OpenSourceTerminal.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<ServicesGrid />
		<ProductSpotlight />
		<OpenSourceTerminal />
	</main>
	<Footer />
</Layout>
